h2 {
    font-weight: bold;
}

table {
    width: 100%;
    table-layout: fixed;
    font-family: "標楷體", DFKai-sb, BiauKai;
    /* "標楷體"; */
}

table,
td,
th {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    text-align: center;
    font-size: 0.8em;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: gray;
}